<!DOCTYPE html>
<html lang="en-US">
<header>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>OTPAuth</title>
	<link rel="stylesheet" href="static/style.css">
	<link rel="icon" href="static/favicon.ico" type="image/x-icon">
	<script src="static/events.js" defer></script>
</header>
<body>{{range .OtpParameters}}
	<section id="{{.UUID}}">
		<p>{{.Name}}{{with .Issuer}} ({{.}}){{end}}</p>
		<label class="code">{{.EvaluateString}}</label>
		<progress class="time" max="30"></progress>
		<figure><img src="{{.UUID}}.png" alt="{{.URL}}"></figure>
		<pre>{{range .SecretTuples}}{{.}} {{end}}</pre>
	</section>{{end}}
</body>
</html>
