body {
	font-family: 'IBM Plex Sans', sans-serif;
	display: flex;
	flex-wrap: wrap;
}
pre {
	font-family: 'IBM Plex Mono', monospace;
	text-align: center;
}
section {
	border: thin solid currentColor;
	border-radius: 1ex;
	margin: 1ex;
	padding: 1ex;
}
